<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title><h1>Dashboard</h1></mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content style="padding-top: 10px;">
            <div fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="column">
                    <mat-form-field>
                        <mat-chip-list #selectedSymbolChipList>
                            <mat-chip *ngFor="let symbol of searchCriteria.symbols" selectable="false"
                                    [removable]="true" (remove)="remove(symbol)">
                                {{symbol}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                            <input type="text" #searchSymbolAutocompleteInput 
                                    [matChipInputFor]="selectedSymbolChipList" [matChipInputSeparatorKeyCodes]="[13]" [matChipInputAddOnBlur]="false" (matChipInputTokenEnd)="add($event)"
                                    placeholder="Search and pick..." matInput [(ngModel)]="selectedSymbol" (ngModelChange)="onSearchSymbol($event)" [matAutocomplete]="searchSymbolAutocomplete">
                                <mat-autocomplete #searchSymbolAutocomplete="matAutocomplete" autoActiveFirstOption>
                                    <mat-option *ngFor="let option of symbols | async" [value]="option.symbol">
                                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                                            <img [src]="option.logo" style="width: 30px; height: 30px;"/>
                                            <div>{{ option.symbol}} - {{option.name}}</div>
                                        </div>
                                    </mat-option>
                                </mat-autocomplete>
                        </mat-chip-list>
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field>
                            <input matInput [matDatepicker]="transactionDateFrom" [(ngModel)]="searchCriteria.transactionDateFrom" placeholder="From date">
                            <mat-datepicker-toggle matSuffix [for]="transactionDateFrom"></mat-datepicker-toggle>
                            <mat-datepicker #transactionDateFrom></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput [matDatepicker]="transactionDateTo" [(ngModel)]="searchCriteria.transactionDateTo" placeholder="To date">
                            <mat-datepicker-toggle matSuffix [for]="transactionDateTo"></mat-datepicker-toggle>
                            <mat-datepicker #transactionDateTo></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button fxFlexAlign="end" color="primary" (click)="search()">Search</button>
                </div>
                <div fxLayout="column">
                    <mat-table #table [dataSource]="exchangeTransactionsDataSource" 
                        #exchangeTransactionsTableSort="matSort" matSort matSortActive="transactionDate" matSortDisableClear matSortDirection="desc">
                        <ng-container matColumnDef="sourceAmount">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.sourceAmount | currency}} USD</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="transactionType">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.transactionType}}</mat-cell>
                            </ng-container>
                        <ng-container matColumnDef="targetAmount">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <div>{{element.targetAmount}} {{element.symbol.symbol}}</div>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="symbol">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Exchange Symbol</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <img [src]="element.symbolLogo" style="width: 25px;"/>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="transactionDate">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Date</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <div>{{element.transactionDate | date: 'MM-dd-yyyy'}}</div>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="['transactionType', 'symbol', 'sourceAmount', 'targetAmount', 'transactionDate']"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: ['transactionType', 'symbol', 'sourceAmount', 'targetAmount', 'transactionDate'];"></mat-row>
                    </mat-table>
                    <mat-paginator #exchangeTransactionsTablePaginator
                        [pageSize]="10">
                    </mat-paginator>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>