<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title><h1>Dashboard</h1></mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="column">
                    <mat-table #table [dataSource]="exchangeTransactionsDataSource" 
                        #exchangeTransactionsTableSort="matSort" matSort matSortActive="transactionDate" matSortDisableClear matSortDirection="desc">
                        <ng-container matColumnDef="sourceAmount">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.sourceAmount | currency}} USD</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="transactionType">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.transactionType}}</mat-cell>
                            </ng-container>
                        <ng-container matColumnDef="targetAmount">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <div>{{element.targetAmount}} {{element.symbol.symbol}}</div>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="symbol">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Exchange Symbol</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <img [src]="element.symbolLogo" style="width: 25px;"/>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="transactionDate">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Date</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <div>{{element.transactionDate | date: 'MM-dd-yyyy'}}</div>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="['transactionType', 'symbol', 'sourceAmount', 'targetAmount', 'transactionDate']"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: ['transactionType', 'symbol', 'sourceAmount', 'targetAmount', 'transactionDate'];"></mat-row>
                    </mat-table>
                    <mat-paginator #exchangeTransactionsTablePaginator
                        [pageSize]="10">
                    </mat-paginator>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>