<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-drawer-container class="example-container" *ngIf="isAuthenticated$  | async">
        <mat-drawer #snav mode="side" [opened]="!mobileQuery.matches">
            <div class="app-brand-container">
                <span class="app-title">Inversion Manager</span>
            </div>
            <mat-nav-list>
                <a mat-list-item mat-button-icon class="navigation-link" routerLink="/home"><mat-icon>home</mat-icon> Home</a>
                <a mat-list-item mat-button-icon class="navigation-link" routerLink="/exchange-transactions" ><mat-icon>search</mat-icon> Search</a>
                <a mat-list-item mat-button-icon class="navigation-link" routerLink="/exchange-transactions/add" ><mat-icon>add_circle</mat-icon> Add</a>
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <mat-toolbar color="primary" class="example-toolbar">
                <button mat-icon-button (click)="snav.toggle()" [fxHide.gt-sm]="!mobileQuery.matches"><mat-icon>menu</mat-icon></button>
                <span class="example-spacer"></span>
                <div *ngIf="profile">
                    <span style="font-size: 14px;">{{profile.name}}</span>
                    <button mat-icon-button mat-mini-fab [matMenuTriggerFor]="userProfileMenu" [ngStyle]="{'background-image': 'url(' + profile.picture +')', 'background-size': 'cover'}"></button>
                    <mat-menu #userProfileMenu="matMenu">
                        <a mat-menu-item (click)="logout()"><mat-icon>exit_to_app</mat-icon> Logout</a>
                    </mat-menu>
                </div>
            </mat-toolbar>
            <div class="mat-drawer-content-body">
                <mat-card class="inner-card">
                    <mat-card-content>
                        <router-outlet></router-outlet>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
    <div *ngIf="!(isAuthenticated$  | async)">
        <mat-toolbar color="primary">
            <div class="app-brand-container">
                <span class="app-title">Inversion Manager</span>
            </div>
            <span class="example-spacer"></span>
            <div>
                <button mat-button (click)="login()">Login</button>
            </div>
        </mat-toolbar>
        
    </div>
</div>