<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="toggleSideNav()" *ngIf="isAuthenticated$  | async"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name">Responsive App</h1>
        <span class="example-spacer"></span>
        <div *ngIf="!(isAuthenticated$  | async)">
            <button mat-button (click)="login()">Login</button>
        </div>
        <div *ngIf="(isAuthenticated$ | async) && profile">
            <span style="font-size: 14px;">{{profile.name}}</span>
            <button mat-icon-button mat-mini-fab [matMenuTriggerFor]="userProfileMenu" [ngStyle]="{'background-image': 'url(' + profile.picture +')', 'background-size': 'cover'}"></button>
            <mat-menu #userProfileMenu="matMenu">
                <a mat-menu-item (click)="logout()"><mat-icon>exit_to_app</mat-icon> Logout</a>
            </mat-menu>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #sideNav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" *ngIf="isAuthenticated$ | async">
            <mat-nav-list>
                <a mat-list-item mat-button-icon routerLink="/home"><mat-icon>home</mat-icon></a>
                <a mat-list-item mat-button-icon routerLink="/exchange-transactions" ><mat-icon>search</mat-icon></a>
                <a mat-list-item mat-button-icon routerLink="/exchange-transactions/add" ><mat-icon>add_circle</mat-icon></a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div fxLayout="row" fxLayoutAlign="center">
                <div fxFlex="80">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>